footer(class="footer")
	div(class="footer-container")
		div(class="footer__upper")
			span Copyright © Explorer
			span - Images used for demonstration purpose only
			span(class="colored") Licenses
    
		div(class="footer__lower")
			span Copyright ©
			span(class="colored") Studio Corvus
			span Powered by
			span(class="colored") Webflow
