header(class="header")
	div(class="header-container")
		div(class="header__title")
			img(class="header__img" src="../src/img/header__title.svg" alt="логотип сайта")

		nav(class="menu")
			ul(class="menu__list")
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/Home.png")
						
					
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/Blog.png")
						
				
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/Categories.png")
						
					
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/Pick category.png")
					
					
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/About us.png")
						
					
				li(class="menu__item")
					a(class="menu__link")
						img(class="menu__img" src="../src/img/Contact us.png")
						
					
		
	
		
