main(class="main")
	div(class="main-content")
		div(class="main-content__card")
			div(class="main-content__background")
				div(class="main-content__theme")
					p(class="theme-icon") TRAVEL

				div(class="main-content__info")
					div(class="user-info")
						div(class="user-info__photo")
							img(src="../src/img/user__photo3.jpg")
					  
						div(class="user-info__text")
							p(class="user-name") Luke Cage
							p(class="user-date") October 11, 2016
					  
					h2(class="article-title") The 10 most beautiful places you should visit in your life
				  			  					  
			div(class="main-content__text")
				p Vestibulum ut placerat nisl. Cras sed purus tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis posuere nisi sit amet neque finibus vestibulum. Vivamus at leo ut turpis posuere molestie. Nullam at turpis nec metus pharetra bibendum. Vivamus id urna et leo blandit consequat.
				a(class="main-content__link") Continue Reading →

		div(class="main-content__card")
			div(class="main-content__background")
				div(class="main-content__theme")
					p(class="theme-icon") TRAVEL
		    
				div(class="main-content__info")
					div(class="user-info")
						div(class="user-info__photo")
							img(src="../src/img/user__photo2.jpg")
				    
						div(class="user-info__text")
							p(class="user-name") Jessica Simpson
							p(class="user-date") June 12, 2016
				    
					h2(class="article-title") Perfect gear to take with you if you go on a photography trip
	      				
			div(class="main-content__text")
				p Vestibulum ut placerat nisl. Cras sed purus tellus. Pellentesque habitant morbi tristique senectus et netus et	malesuada fames ac turpis egestas. Duis posuere nisi sit amet	neque finibus vestibulum. Vivamus at leo ut turpis posuere	molestie. Nullam at turpis nec metus pharetra bibendum.	Vivamus id urna et leo blandit consequat.
				a(class="main-content__link") Continue Reading →
		
		div(class="main-content__card")
			div(class="main-content__background")
				div(class="main-content__theme")
					p(class="theme-icon") PHOTOGRAPHY		

				div(class="main-content__info")
					div(class="user-info")
						div(class="user-info__photo")
							img(src="../src/img/user__photo3.jpg")
						
						div(class="user-info__text")
							p(class="user-name") Luke Cage
							p(class="user-date") June 12, 2016
						
					h2(class="article-title") We are looking for another photographer to join our group
					
			div(class="main-content__text")
				p Vestibulum ut placerat nisl. Cras sed purus tellus.	Pellentesque habitant morbi tristique senectus et netus et	malesuada fames ac turpis egestas. Duis posuere nisi sit amet	neque finibus vestibulum. Vivamus at leo ut turpis posuere	molestie. Nullam at turpis nec metus pharetra bibendum.	Vivamus id urna et leo blandit consequat.
				a(class="main-content__link") Continue Reading →

	div(class="main__moreInfoBlock")
		p(class="moreInfo__text") Want to read more?
		button(class="button button_primary") Visit Blog Archive
	

