section(class="middle")
	div(class="middle-container")
		div(class="middle__caption")
			h2(class="title_second") Featured Stories
			p(class="subcaption") Did you read our personal favorites?
		

		div(class="middle__content")

			div(class="middle__card")
				img(class="middle__img" src=require("../img/middlecard_1.png") alt="мужчина стоит на горе")
				p(class="middle__cardText") The 10 most beautiful places you should visit in your life

			div(class="middle__card")
				img(class="middle__img" src=require("../img/middlecard_2.png") alt="мужчина стоит на побережье")
				p(class="middle__cardText") We found the most beautiful place for our party november

			div(class="middle__card")
				img(class="middle__img" src=require("../img/middlecard_3.png") alt="вид ночного мегаполиса")
				p(class="middle__cardText") Why New York is still our favorite city to visit

		div(class="middle__footer")
			p(class="middle__footerText") Want to read all of our stories?
			a(class="middle__footerLink") Read the full blog

