@include laptop {
  .middle__content {
		flex-direction: column;
		gap: 35px;
	}
}

@include tablet {
  .middle {
		padding-block: 40px;
	}

  .middle__img {
		width: 100%;
	}

  .middle__footer {
		flex-direction: column;
	}
}
